<!DOCTYPE html>
<html 
    lang="pt-br"
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorator="'Index'"
    th:with="currentPage='imovel'">
    
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <title></title>
</head>

<body>
	<section class="container" layout:fragment="conteudo">

		<h1 class="text-center" th:if="${imovel.novo}">Cadastrar Imóvel</h1>
		<h1 class="text-center" th:unless="${imovel.novo}" th:text="|Edição do imóvel em ${imovel.endereco.logradouro} - ${imovel.endereco.cidade.nome}|">Editar Imóvel</h1>
		
		<hr />

		<div aria-label="breadcrumb">
			<ol class="breadcrumb">
		    	<li class="breadcrumb-item"><a th:href="@{/}">Dashboard</a></li>
		    	<li class="breadcrumb-item"><a th:href="@{/imoveis}">Imóveis</a></li>
		    	<li class="breadcrumb-item active" aria-current="page">Novo</li>
			</ol>
		</div>
		
		<form method="POST" class="input-form" th:object="${imovel}" th:action="@{/imoveis}">	

			<input type="hidden" th:field="*{codigo}" />	
			
			<!-- error -->
			<th:block th:include="messages/ErrorMessage"></th:block>
			
			<!-- success -->
			<th:block th:include="messages/SuccessMessage"></th:block>
			
			<div class="row">
				<div class="form-group col-sm-4">
					<label class="form-control-label" for="proprietario"><span class="text-danger">*</span>Proprietário</label>
					
					<select th:field="*{proprietario}" class="form-control" id="proprietario" th:errorclass="is-invalid">
						<option value="">Selecione o proprietário</option>
						<option th:each="proprietario : ${proprietarios}" th:value="${proprietario.codigo}" th:text="${proprietario.nome}"></option>
					</select>
				</div>
				
				<div class="form-group col-sm-4">
					<label class="form-control-label" for="estado"><span class="text-danger">*</span>Estado</label>
					
					<select th:field="*{endereco.estado}" class="form-control" id="estado" th:errorclass="is-invalid">
						<option value="">Selecione o estado</option>
						<option th:each="estado : ${estados}" th:value="${estado.codigo}" th:text="${estado.nome}"></option>
					</select>
				</div>
				
				<div id="container-cidade" class="form-group col-sm-4">
					<input type="hidden" id="inputCidadeSelecionada" th:value="*{endereco.cidade} != null ? *{endereco.cidade.codigo}" />
					
					<label class="form-control-label" for="endereco"><span class="text-danger">*</span>Cidade</label>
					
					<select th:field="*{endereco.cidade}" class="form-control" id="cidade" data:url="@{/cidades}" th:errorclass="is-invalid" disabled="disabled">
						<option value="">Selecione a cidade</option>
					</select>
				</div>
			</div>	
			
			<div class="row">
				<div class="form-group col-sm-6">
					<label class="form-control-label" for="logradouro"><span class="text-danger">*</span>Logradouro/Rua/Avenida</label>
					<input type="text" th:field="*{endereco.logradouro}" class="form-control" id="logradouro" th:errorclass="is-invalid" autocomplete="off">
				</div>
				
				<div class="form-group col-sm-2">
					<label class="form-control-label" for="numero">Número</label>
					<input type="text" th:field="*{endereco.numero}" class="form-control" id="numero" th:errorclass="is-invalid" autocomplete="off">
				</div>
				
				<div class="form-group col-sm-4">
					<label class="form-control-label" for="bairro">Bairro/Distrito</label>
					<input type="text" th:field="*{endereco.bairro}" class="form-control" id="bairro" th:errorclass="is-invalid" autocomplete="off">
				</div>
			</div>	
			
			<div class="row">
				<div class="col-sm-12">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>INFORMAÇÕES DE CÁLCULO</th>
							</tr>
						</thead>
						
						<tbody>
							<tr>
								<td>
									<div class="row">
										<div class="form-group col-sm-3">
											<label class="form-control-label" for="areaTerreno">Área do terreno (m<sup>2</sup>)</label>
											<input type="text" th:field="*{areaTerreno}" class="form-control area-mask" id="areaTerreno" th:errorclass="is-invalid" autocomplete="off">
										</div>
										
										<div class="form-group col-sm-3">
											<label class="form-control-label" for="areaConstruida">Área construída (m<sup>2</sup>)</label>
											<input type="text" th:field="*{areaConstruida}" class="form-control area-mask" id="areaConstruida" th:errorclass="is-invalid" autocomplete="off">
										</div>
										
										<div class="form-group col-sm-3">
											<label class="form-control-label" for="areaTotal">Área total (m<sup>2</sup>)</label>
											<input readonly type="text" th:field="*{areaTotal}" class="form-control area-mask" id="areaTotal">
										</div>
										
										<div class="form-group col-sm-3">
											<label class="form-control-label" for="valorVenalTerreno">Valor venal do terreno (R$)</label>
											<input type="text" th:field="*{valorVenalTerreno}" class="form-control moeda-mask" id="valorVenalTerreno" th:errorclass="is-invalid" autocomplete="off">
										</div>
									</div>
									
									<div class="row">
										<div class="form-group col-sm-3">
											<label class="form-control-label" for="valorVenalConstrucao">Valor venal da construção (R$)</label>
											<input type="text" th:field="*{valorVenalConstrucao}" class="form-control moeda-mask" id="valorVenalConstrucao" th:errorclass="is-invalid" autocomplete="off">
										</div>
										
										<div class="form-group col-sm-3">
											<label class="form-control-label" for="valorVenalTotal">Valor venal total (R$)</label>
											<input readonly type="text" th:field="*{valorVenalTotal}" class="form-control  moeda-mask" id="valorVenalTotal">
										</div>
										
										<div class="form-group col-sm-3">
											<label class="form-control-label" for="alicota">Alícota (%)</label>
											<input type="text" th:field="*{alicota}" class="form-control porcentagem-mask" id="alicota" th:errorclass="is-invalid" autocomplete="off">
										</div>
										
										<div class="form-group col-sm-3">
											<label class="form-control-label" for="valorImposto">Valor do Imposto (R$)</label>
											<input readonly type="text" th:field="*{valorImposto}" class="form-control moeda-mask" id="valorImposto">
										</div>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>

			<hr />
			
			<div class="row mb-3">
				<div class="col-sm-12 text-right">
					<a th:href="@{/}" class="btn btn-danger"><i class="fas fa-ban"></i> Cancelar</a>
					<button type="submit" class="btn btn-primary"><i class="fas fa-check"></i> Salvar</button>
				</div>
			</div>
		</form>
	</section>
	
	<!-- JavaScript -->
  	<th:block layout:fragment="javascripts">
  	<script th:src="@{/js/global.mascaras-campos.js}"></script>
  	<script th:src="@{/js/imovel.calcular-impostos.js}"></script>
  	</th:block>
</body>
</html>